<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Ytec\RuleEligibilityCheck\Api\RuleEligibilityCheckInterface" type="Ytec\RuleEligibilityCheck\Model\RuleEligibilityCheck"/>
    <type name="Magento\SalesRule\Model\Rule\DataProvider">
        <plugin name="set_additional_module_info_to_rule_provider" type="Ytec\RuleEligibilityCheck\Plugin\SalesRule\Model\Rule\DataProviderPlugin" disabled="false"/>
    </type>
    <type name="Ytec\RuleEligibilityCheck\Model\RuleEligibilityCheck">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="dateProcessor" xsi:type="object">Ytec\RuleEligibilityCheck\Model\Processor\DateValidationProcessor</item>
                <item name="emptyCartProcessor" xsi:type="object">Ytec\RuleEligibilityCheck\Model\Processor\EmptyCartValidationProcessor</item>
                <item name="shippingAddressProcessor" xsi:type="object">Ytec\RuleEligibilityCheck\Model\Processor\ShippingAddressValidationProcessor</item>
                <item name="ruleConditionsProcessor" xsi:type="object">Ytec\RuleEligibilityCheck\Model\Processor\RuleConditionsValidationProcessor</item>
                <item name="itemActionsProcessor" xsi:type="object">Ytec\RuleEligibilityCheck\Model\Processor\ItemActionsValidationProcessor</item>
            </argument>
        </arguments>
    </type>
</config>
